@using FirstApp.Models;
@page "/nasa-apod"
@using FirstApp.Clients;
@inject NasaClient NasaClient;
@using FirstApp.Shared.Components;
@attribute [Authorize]

<PageTitle>NASA APOD</PageTitle>

<Header title="@nasaResponse.title" subTitle="@nasaResponse.date" description="@nasaResponse.explanation" /> 
<br>
<NasaImageSection imgUrl="@nasaResponse.url" hdUrl="@nasaResponse.hdurl" copyright="@nasaResponse.copyright"/>


<input placeholder="Add Date" @bind="provideDate"/>
<button @onclick="AddDate">Add Date</button> 

@code {

    private NasaResponse? nasaResponse=null;
    protected override async Task OnInitializedAsync(){
        nasaResponse= await NasaClient.GetNasa(null);
    }

     
    private string? provideDate;
    async Task AddDate(){
        if(!string.IsNullOrWhiteSpace(provideDate)){
           nasaResponse= await NasaClient.GetNasa(provideDate);
        }
    }

    


}
